@model test.Models.Nhanvien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phongban.tenphong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phongban.tenphong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotennv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tuoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tuoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.luongnv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.luongnv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matkhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.manv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
