@model test.Models.Nhanvien

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "NhanViens", FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhanvien</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.manv)

        <div class="form-group">
            @Html.LabelFor(model => model.hotennv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hotennv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hotennv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tuoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tuoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tuoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.luongnv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.luongnv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.luongnv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.maphong, "maphong", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("maphong", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.maphong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.matkhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.matkhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div id="message"></div>
@section Scripts {
    <script>
         $(document).ready(function () {
             $('#editForm').on("submit", function (e) {
                 e.preventDefault()

                 $.ajax({
                     url: '@Url.Action("EditAjax", "NhanViens")',
                     type: 'POST',
                     data: $(this).serialize(),
                     success: function (respone) {
                         if (respone.success) {
                             $('#message').html('<div class="alert alert-success">' + respone.message + '</div>')
                         }
                         else {
                             $('#message').html('<div class="alert alert-danger">' + respone.message + '</div>')
                         }
                     },
                     error: function () {
                         $('#message').html('<div class="alert alert-danger">Có lỗi xảy ra, vui lòng thử lại!</div>')
                     }
                 })
             })
         })
    </script>
}
